@import url('https://fonts.googleapis.com/css?family=Sarabun');

body{
	font-family: 'Sarabun', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

.slideshow {
	--n: 1;
	display: flex;
	align-items: center;
	width: 100%;
	width: calc(var(--n)*100%);	
	overflow-y: hidden;
	height: 50vw;
	max-height: 100vh;
	transform: translate(calc(var(--i, 0)/var(--n)*-100% + var(--tx, 0px)));	
	transition: transform .5s ease-out;
}

img {
	min-width: 100%;
	width: 100%;
	width: calc(100%/var(--n));	
	pointer-events: none;	
}

.smooth {
	transition: transform calc(var(--f)*.5s) cubic-bezier(1, 1.59, .61, .74);
}
